
Head/2Scripts/\.Rhistory

AllTermites/data/

AllTermites/results/forAlign/

AllTermites/results/phylogeny/

AllTermites/results/align_cat\.fasta

AllTermites/results/cockroaches11_19/phylogeny/

AllTermites/results/cockroaches11_19/
